{% extends "base.html" %}
{% block title %}Embeds{% endblock %}
{% block head %}
  <link rel="stylesheet" href="/css/embeds.css">
  <script src="/js/embeds.js" defer></script>
{% endblock %}

{% block main %}
  <div class="container">
    <div id="embed-builder">
      <h1>Embed Builder</h1>

      <div class="embed-btns">
        <button id="create-embed-btn">Create Embed</button>
        <button id="edit-embed-btn">Edit Embed</button>
      </div>

      <div class="word-count-container embed-text-send-area">
        <textarea id="embed-text-send" maxlength="2000" placeholder="Text sent with the embed"></textarea>
        <h5 class="word-count"><span id="current">0</span>/<span id="max">2000</span></h5>
      </div>

      <div class="embed-input-container">
        <div class="color-picker-container">
          <input type="color" id="color-picker" value="#5865f2">
          <label for="color-picker" id="color-value">#5865f2</label>
        </div>

        <input type="url" id="icon-url" placeholder="Icon URL">
        <input type="text" id="icon-name" placeholder="Icon Name">
        <input type="url" id="icon-name-url" placeholder="Icon Name URL">

        <div class="word-count-container title-area">
          <input type="text" id="title" maxlength="300" placeholder="Title">
          <h5 class="word-count"><span id="current">0</span>/<span id="max">300</span></h5>
        </div>
        <input type="url" id="title-url" placeholder="Title URL">

        <div class="word-count-container embed-text-area">
          <textarea id="embed-text" maxlength="2000" placeholder="Embed text"></textarea>
          <h5 class="word-count"><span id="current">0</span>/<span id="max">2000</span></h5>
        </div>

        <div id="fields-container" max-fields="25"></div>

        <div class="add-field-btn-area">
          <button type="button" id="add-field-btn">Add Field</button>
          <h5 class="field-count">0/0 Fields</h5>
        </div>
        
        <input type="url" id="image-url" placeholder="Image URL">
        <input type="url" id="thumbnail-url" placeholder="Thumbnail URL">
        
        <div class="word-count-container footer-area">
          <input type="text" maxlength="300" id="footer" placeholder="Footer">
          <h5 class="word-count"><span id="current">0</span>/<span id="max">300</span></h5>
        </div>
        <input type="url" id="footer-icon-url" placeholder="Footer Icon URL">
      </div>

      <button id="add-embed-btn">Add Embed</button>

      <div class="destination-container">
        <h3>Destination</h3>
        <select id="embed-guild-select" required>
          <option value="" disabled selected>Loading guilds...</option>
        </select>
        <select id="embed-channel-select" required>
          <option value="" disabled selected>Select a guild first</option>
        </select>
      </div>
    </div>

    <div id="embed-preview">
      <h1>Embed Preview</h1>
    </div>
  </div>
{% endblock %}