<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login Page</title>
  <link rel="stylesheet" href="/css/index.css">
</head>
<body>
  <div class="container">
    <h1>Welcome to login page!</h1>

    <a href="/login">
      <button id="loginBtn">
        <img src="https://cdn-icons-png.flaticon.com/512/5968/5968756.png" alt="Discord Icon">
        <span>Login</span>
      </button>
    </a>
  </div>
</body>
</html>